# Default ignored files
/shelf/
/workspace.xml
# Default folder containing query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP client requests
/httpRequests/
